body {
    font-family: sans-serif;
    margin: 20px;
}

#item-form {
    margin-bottom: 20px;
}

#item-form label {
    margin-right: 5px;
}

#item-form input {
    margin-right: 10px;
}

#item-list {
    list-style: none;
    padding: 0;
}

#item-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#item-list li button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
}

#add-item {
    background-color: #4CAF50; /* Verde */
}

#item-list li button[data-index] { /* Seletor para o botão de deletar */
    background-color: #f44336; /* Vermelho */
}